.purple-btn
{
    padding: 1rem;
    background: #8873ef;
    color: white;
    border-radius: 0.8rem;
    border: none;
    cursor:pointer;
    transition:box-shadow,0.2s;
    letter-spacing: 0.1rem;
    width:155px;
    height:50px;
    margin:0 0.5rem 0 0;
    font-weight:600;
}
.purple-btn:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.white-btn
{
    font-weight:600;
    padding: 1rem;
    background: #ffffff;
    color:#464646;
    border-radius: 0.8rem;
    border: 1px solid rgb(172, 172, 172);
    cursor:pointer;
    transition:box-shadow,0.2s;
    letter-spacing: 0.1rem;
    width:155px;
    height:50px;
    margin:0 0.5rem 0 0;
}
.white-btn:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}